{% extends "blog/base.html" %}

{% load blog_tags %}


{% block title %}Mój blog{% endblock %}

{% block content %}
 <h1>Mój blog</h1>

{% if tag %}
	 <h2>Posty oznaczone tagiem "{{ tag.name }}"</h2>
{% endif %}




 {% for post in posts %}
   <h2>
     <a href="{{ post.get_absolute_url }}">
       {{ post.title }}
     </a>
      <p class="tags">
	     Tagiiii:
	     {% for tag in post.tags.all %}
	       <a href="{% url "blog:post_list_by_tag" tag.slug %}">
	         {{ tag.name }}
	       </a>
	       {% if not forloop.last %}
	       	,
	       {% endif %}
	     {% endfor %}
	</p>


   </h2>
   <p class="date">
     Opublikowany {{ post.publish }} przez {{ post.author }}
   </p>
   <!-- {{ post.body|truncatewords:30|linebreaks }} -->
   {{ post.body|markdown|truncatewords_html:30 }}


 {% endfor %}
 <!-- {% include "blog/post/pagination.html" with page=page_obj %} -->
 {% include "blog/post/pagination.html" with page=posts %}

{% endblock %}