{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
   <title>{% block title %}{% endblock %}</title>
   <link href="{% static "css/blog.css" %}" rel="stylesheet">
  </head>
  <body>
   <div id="content">
     {% block content %}
     {% endblock %}
   </div>
   <div id="sidebar">
     <!-- <h2>Mój blog</h2> -->
     <h2><a href="{% url "blog:post_list" %}">Mój blog</a></h2>
      <p>To jest mój blog. Dotychczas opublikowałem {% wszystkie_posty %} postów.</p>
      <p><a href="{% url "blog:post_feed" %}">Subskrybuj kanał RSS</a></p>
      <h3>Najnowsze posty</h3>
      {% show_latest_posts 3 %}


      <h3>Najczęściej komentowane posty</h3>
       {% get_most_commented_posts as most_commented_posts %}
       <ul>
       {% for post in most_commented_posts %}
         <li>
           <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
         </li>
       {% endfor %}
       </ul>
   </div>
  </body>
</html>
